# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim swap
*.swp
*.swo

# latex files
main.log
*.aux

set 5/exercise_34\.txt

set 5/36-37-38/\.d/filter/display\.d

set 5/36-37-38/\.d/filter/filter1\.d

set 5/36-37-38/\.d/filter/filter2\.d

set 5/36-37-38/\.d/main\.d

set 5/36-37-38/\.d/strings/add\.d

set 5/36-37-38/\.d/strings/release\.d

set 5/36-37-38/\.d/strings/strings1\.d

set 5/36-37-38/\.d/strings/strings2\.d

set 5/36-37-38/\.d/strings/strings3\.d

set 5/36-37-38/\.d/strings/strings4\.d

set 5/36-37-38/\.d/stringsSwap/stringsSwap\.d

set 5/36-37-38/Makefile

set 5/36-37-38/set

set 5/39/main

set 5/36-37-38/\.d/

set 5/363738/\.d/filter/display\.d

set 5/363738/\.d/filter/filter1\.d

set 5/363738/\.d/filter/filter2\.d

set 5/363738/\.d/main_36\.d

set 5/363738/\.d/main\.d

set 5/363738/\.d/strings/add\.d

set 5/363738/\.d/strings/at2\.d

set 5/363738/\.d/strings/release\.d

set 5/363738/\.d/strings/strings1\.d

set 5/363738/\.d/strings/strings2\.d

set 5/363738/\.d/strings/strings3\.d

set 5/363738/\.d/strings/strings4\.d

set 5/363738/\.d/strings/stringsSwap\.d

*.d

set 6/43_44_45_46/Makefile
